.reg2
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: reg2 0.5s;
}

@keyframes reg2
{
    from{margin-top: -1500px;}
    to{margin-top: 0px;}
}

.reg2-form
{
    width: 40%;
    padding: 30px !important;
    border: 1px solid silver;
}

.reg-lbl
{
    font-size: 20px !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 500 !important;
    padding-bottom: 10px !important;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    animation: reg-lbl 1s ;
}

@keyframes reg-lbl
{
    from{margin-left: -500px;}
    to{margin-left: 0px;}
}

.reg2-field
{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 20px;
   margin: 15px 0;
   animation: reg-field 1.3s;
}

@keyframes reg-field
{
    from{margin-right: 1500px;}
    to{margin-right: 0px;}
}

.reg-datas
{
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 20px;
    border: 1px solid silver;
    border-radius: 3px;
}

.reg-sub
{
    width: 90%;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    outline: none;
    background-color: #f86961;
    animation: reg-sub 1s;
    border-radius: 5px;
}
.reg-sub:hover
{
    background-color: #e75f58;
    transition: 0.3s;
}



@keyframes reg-sub
{
    from{margin-right: -500px;}
    top{margin-right: 0px;}
}

@media(max-width:900px)
{
    .reg2-form
    {
        width: 70%;
    }
}

